.Welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.textWelcome {
  font-size: 47px;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: center;
  text-shadow: -1px 4px 3px rgba(37, 19, 16, 26.5);
}

.buttonWelcome {
  margin-top: 20px;
  padding: 40px;
  opacity: 0; /* Inicialmente, el texto estará oculto */
  animation: fadeIn 1s ease-in-out forwards; /* Animación de desvanecimiento */
}

.btn {
  background-color: #5f616d;
  color: #ffffff;
}

.btn:hover {
  background-color: #0a0b23;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
